{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Text Rank{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="source">Paper Abstract</label>
    <!-- <div id="source-div"> -->
      <textarea name="source" id="source" spellcheck="false">{{ request.form['source'] }}</textarea>
    <!-- </div> -->
    <label for="window">Window</label>
    <input type="number" name="window" id="window" value="2" required>
    <input type="submit" value="Visualize">
  </form>

  <div>
    Result comes here
  </div>
{% endblock %}